:root {
    --dark-green: rgb(23, 124, 40);
    --light-green: rgb(61, 221, 61);
    --mint: rgb(124, 243, 124);
    --dark-red: rgb(66, 26, 26);
    --light-red: rgb(163, 0, 0);
    --light-blue: rgb(10, 173, 255);
    --dark-blue: rgb(7, 70, 102);
    --dark-gray: rgb(31, 29, 29);
    --gold: rgb(212, 175, 55);

    --midnight-blue: #001f3f;
    --silver: #D3D3D3;
    --white: #FFFFFF;
    --yellow: #FFD700;
    --pastel: #c4c4c4;
    --lavendar: #E6E6FA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

h1 {
    text-align: center;
    margin-top: 20px;
    font-size: 50px;
    color: white;
    text-decoration: underline;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
}

h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    font-size: 32px;
}

p {
    line-height: 25px;
    font-family: 'Chakra Petch', sans-serif;
}

ul li {
    margin-bottom: 26px;
}

a {
    transition-property: color;
    transition: 0.3s;
}

a:link {
    color: rgb(255, 84, 255);
}

a:hover {
    color: var(--mint);
}

a:visited {
    color: var(--dark-green);
}

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    /* padding: 20px; */
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.flex-object {
    transition-property: scale;
    transition: 0.75s;
}

.flex-object:hover {
    transform: scale(1.01);
}

.flex-object {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    margin: 20px 10px;
    background-color: var(--dark-gray);
    max-width: min-content;
    border: 3px solid;
    box-shadow: 0 0 25px 1px var(--light-blue);
    border-style: none;
    border-radius: 20px;
    padding: 10px;
}

.game-info .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, var(--dark-gray) 9%, #00000000 50%, var(--dark-gray) 96%);
}

.game-info {
    display: inline-block;
    position: relative;
}

.image-container {
    position: relative;
    margin: 10px;
}

.textWrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    font-size: 17px;
}

.backgroundText {
    width: 45%;
    border-radius: 10px;
}

.vertical-line {
    width: 1px;
    height: 200px;
    background-color: white;
    margin: 20px;
    text-align: center;
}

.role {
    /* background-color: blueviolet; */
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
}

.role ul {
    margin: 0;
    padding: 0;
    list-style: square;
}

#StoryGame .role {
    width: 45%;
}

.flex-object h3 {
    color: beige;
}

.flex-object p,
.flex-object ul li {
    color: lightskyblue;
}

#EIYEGame .role,
#DeerSim .role {
    width: 40%;
}

#DeerSim .game-info .image-container::before {
    background: linear-gradient(to bottom, var(--dark-gray) 5%, #00000000 50%, var(--dark-gray) 96%);
}

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

.stars,
.twinkling,
.clouds {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 300%;
}

.stars {
    background: #000 url(../images/stars.png) repeat top center;
    z-index: -3;
}

.twinkling {
    background: transparent url(../images/twinkling.png) repeat top center;
    z-index: -2;
    animation: move-twinkle-back 200s linear infinite;
}

.clouds {
    background: transparent url(../images/clouds.png) repeat top center;
    z-index: -1;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}

.homeContainer {
    margin: 25px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: auto;
}

.homeButton {
    padding: 10px 20px;
    border: none;
    font-size: 28px;
    color: #fff;
    border-radius: 7px;
    letter-spacing: 4px;
    font-weight: 700;
    text-transform: uppercase;
    transition: 0.5s;
    transition-property: box-shadow;
    background: rgb(0, 140, 255);
    box-shadow: 0 0 25px rgb(0, 140, 255);
}

.homeButton:hover {
    box-shadow: 0 0 5px rgb(0, 140, 255),
        0 0 25px rgb(0, 140, 255),
        0 0 50px rgb(0, 140, 255),
        0 0 100px rgb(0, 140, 255);
}

/* width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(11, 11, 14);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}

@media only screen and (max-width: 1700px){
    .stars,
    .twinkling,
    .clouds {
        height: 525%;
    }
}

@media only screen and (max-width: 1000px){
    .flex-object {
        flex-direction: column;
        align-items: center;
        /* Allow elements to fill the entire width */
        max-width: 100%;
        /* Allow elements to become narrower */
        min-width: 0;
    }

    div.image-container {
        width: auto;
    }

    div.image-container img {
        width: 100%;
    }
}

@media only screen and (max-width: 999px) and (min-width: 768px){

    .stars,
    .twinkling,
    .clouds {
        height: 525%;
    }
}

@media only screen and (max-width: 767px) and (min-width: 361px) {

    .stars,
    .twinkling,
    .clouds {
        height: 550%;
    }
}

@media only screen and (max-width: 360px) {

    .stars,
    .twinkling,
    .clouds {
        width: 107%;
        height: 562%;
    }
}