/* 

------------ SETUP ------------

*/

:root {
    --dark-green: rgb(23, 124, 40);
    --light-green: rgb(61, 221, 61);
    --mint: rgb(124, 243, 124);
    --dark-red: rgb(66, 26, 26);
    --light-red: rgb(163, 0, 0);
    --light-blue: rgb(10, 173, 255);
    --dark-blue: rgb(7, 70, 102);
    --dark-gray: rgb(31, 29, 29);
    --gold: rgb(212, 175, 55);

    --midnight-blue: #001f3f;
    --silver: #D3D3D3;
    --white: #FFFFFF;
    --yellow: #FFD700;
    --pastel: #c4c4c4;
    --lavendar: #E6E6FA;
}

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}


/* 

------------ GRID CONTAINER / INTRO ------------

*/

.grid-container {
    display: grid;
    grid-template-areas:
        "icon icon"
        "title title"
        "para para"
        "socials socials";
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 3fr 1.5fr 1.5fr 1fr;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.grid-container canvas {
    position: absolute;
    transform: translateY(100px);
    pointer-events: none;
}

.centeredImage {
    grid-area: icon;
    display: flex;
    width: 300px;
    /* Use the same value for width and height to create a perfect circle */
    height: 300px;
    /* Set the border radius to 50% to create a circle */
    border-radius: 50%;
    /* Hide any overflowing content */
    overflow: hidden;
    margin: auto;
    box-shadow: 0px 0px 40px 10px white;
    outline-style: solid;
    outline-color: white;
    transition-property: scale;
    transition: 0.5s;
}

.centeredImage:hover {
    scale: 1.08;
}

.imageButton {
    margin: 0;
    scale: 1.85;
    transform: translate(33px);
}

.centeredImage>.imageText {
    opacity: 0;
    position: absolute;
    z-index: 2;
    transform: translate(60px, 125px);
    font-size: 50px;
    color: rgb(0, 247, 255);
    transition-property: opacity;
    transition: 0.5s;
    font-family: 'Chakra Petch', sans-serif;

    /* To prevent hightling of the text 
       and to be able to click on the text 
       and hit the button*/
    pointer-events: none;
}

.centeredImage:hover .imageText {
    opacity: 1;
}

#MeAndNico {
    width: 100%;
    height: 100%;
    object-fit: cover;
    transition-property: filter;
    transition: 0.5s;
}

.centeredImage:hover #MeAndNico {
    filter: blur(2px);
}

.grid-container h1 {
    grid-area: title;
    font-family: 'VT323', monospace;
    color: white;
    font-size: 70px;
    letter-spacing: 1px;
}

.grid-container section {
    grid-area: title;
    font-size: 18px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    color: white;
    padding-top: 100px;
}

.grid-container p {
    grid-area: para;
    color: rgb(109, 186, 250);
    text-align: center;
    margin: auto;
    margin-top: 5px;
    margin-bottom: 5px;
    font-size: 20px;
    font-family: 'Chakra Petch', sans-serif;
    font-weight: 600;
    width: 60%;
}

.socials {
    grid-area: socials;
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    width: 20%;
    font-size: 24px;
}

#resumeDL {
    color: rgb(47, 255, 75);
    transition: 0.5s;
    transition-property: scale;
}

#resumeDL:hover {
    scale: 1.5;
}

#youtube {
    color: rgb(255, 0, 0);
    transition: 0.5s;
    transition-property: scale;
}

#youtube:hover {
    scale: 1.5;
}

#linkedIn {
    color: rgb(10, 102, 194);
    transition: 0.5s;
    transition-property: scale;
}

#linkedIn:hover {
    scale: 1.5;
}

#email {
    color: rgb(255, 130, 14);
    transition: 0.5s;
    transition-property: scale;
}

#email:hover {
    scale: 1.5;
}


/* 

------------ STARRY BACKGROUND ------------

*/

@keyframes move-clouds-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: 10000px 0;
    }
}

@keyframes move-twinkle-back {
    from {
        background-position: 0 0;
    }

    to {
        background-position: -10000px 5000px;
    }
}

.stars,
.twinkling,
.clouds {
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;

    position: fixed;
    width: 100%;
    height: 100%;
}

.stars {
    background: #000 url(../images/stars.png) repeat top center;
    z-index: -3;
}

.twinkling {
    background: transparent url(../images/twinkling.png) repeat top center;
    z-index: -2;
    animation: move-twinkle-back 200s linear infinite;
}

.clouds {
    background: transparent url(../images/clouds.png) repeat top center;
    z-index: -1;
    opacity: .4;
    animation: move-clouds-back 200s linear infinite;
}


/* 

------------ FLEX CONTAINER / GAME SHOWCASE ------------

*/

.flex-container {
    display: flex;
    flex-wrap: wrap;
}

.projects {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    align-items: center;
    text-align: center;
    margin: auto;
}

.flex-object:hover {
    transform: scale(1.01);
}

.flex-object {
    margin: 20px 10px;
    width: calc(50% - 40px);
    background-color: var(--dark-gray);
    border: 3px solid;
    box-shadow: 0 0 25px 1px var(--light-blue);
    border-style: none;
    border-radius: 20px;
    padding: 10px;
    transition: 0.75s;
}

.image-container {
    position: relative;
    margin: 10px;
}

.image-container img {
    width: 100%;
    height: auto;
}

.game-info .image-container::before {
    content: "";
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    background: linear-gradient(to bottom, var(--dark-gray) 9%, #00000000 50%, var(--dark-gray) 96%);
}

.flex-container h3 {
    text-align: center;
    font-size: 24px;
    margin-bottom: 10px;
    text-decoration: underline;
    font-family: 'VT323', monospace;
    letter-spacing: 1px;
    font-size: 32px;
}

.flex-container p {
    line-height: 25px;
    font-family: 'Chakra Petch', sans-serif;
}

ul li {
    margin-bottom: 26px;
}

a {
    transition-property: color;
    transition: 0.3s;
}

a:link {
    color: rgb(255, 84, 255);
}

a:hover {
    color: var(--mint);
}

a:visited {
    color: var(--dark-green);
}

.game-info {
    display: inline-block;
    position: relative;
}

.textWrapper {
    display: flex;
    margin: auto;
    justify-content: center;
    align-items: flex-start;
    padding: 10px;
    gap: 10px;
    font-size: 17px;
}

.backgroundText {
    width: 45%;
    border-radius: 10px;
}

.vertical-line {
    width: 1px;
    height: 200px;
    background-color: white;
    margin: 20px;
    text-align: center;
}

.role {
    text-align: left;
    margin-left: 20px;
    margin-right: 10px;
    border-radius: 10px;
}

.role ul {
    margin: 0;
    padding: 0;
    list-style: square;
}

#StoryGame .role {
    width: 45%;
}

.flex-object h3 {
    color: beige;
}

.flex-object p,
.flex-object ul li {
    color: lightskyblue;
}

#EIYEGame .role,
#DeerSim .role,
#YJ .role,
#Endless .role,
#PM .role,
#Changeling .role {
    width: 40%;
}

.OMOG {
    color: yellow;
}


/* 

------------ SCROLL BAR ------------

*/

/* Width */
::-webkit-scrollbar {
    width: 5px;
}

/* Track */
::-webkit-scrollbar-track {
    background: rgb(11, 11, 14);
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: var(--dark-gray);
    border-radius: 10px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: #555;
}


/* 

------------ RESPONSIVE DESIGNS ------------

*/

@media only screen and (max-width: 640px) {
    .grid-container {
        grid-template-areas:
            "icon icon"
            "title title"
            "para para"
            "socials socials";
        grid-template-rows: .5fr .1fr 1fr .5fr;
    }

    .grid-container h1 {
        font-size: 55px;
    }

    .grid-container section {
        padding-top: 140px;
        font-size: 14px;
    }

    .grid-container p {
        margin-top: 10px;
        font-size: 18px;
    }

    .centeredImage {
        pointer-events: none;
    }

    .socials {
        padding-top: 20px;
        padding-bottom: 30px;
        width: 60%;
    }

    .projects {
        flex-direction: column;
    }

    .flex-object {
        width: 85%;
    }
}

@media only screen and (min-width: 640px) and (max-width: 768px) {
    .grid-container {
        grid-template-areas:
            "icon icon"
            "title title"
            "para para"
            "socials socials";
        grid-template-rows: 1fr .5fr .5fr .5fr;
    }

    .grid-container p {
        font-size: 18px;
    }

    .centeredImage {
        pointer-events: none;
    }

    .socials {
        padding-top: 20px;
        padding-bottom: 30px;
        width: 50%;
    }

    .projects {
        flex-direction: column;
    }

    .flex-object {
        width: 90%;
    }
}

@media only screen and (min-width: 768px) and (max-width: 1024px) {
    .grid-container {
        grid-template-areas:
            "icon icon"
            "title title"
            "para para"
            "socials socials";
        grid-template-rows: 2fr .5fr 1.5fr.5fr;
    }

    .grid-container section {
        padding-top: 120px;
    }

    .centeredImage {
        pointer-events: none;
    }

    .socials {
        width: 35%
    }

    .projects {
        flex-direction: column;
    }

    .flex-object {
        width: 90%;
    }
}

@media only screen and (min-width: 1024px) and (max-width: 1280px) {
    .grid-container {
        grid-template-areas:
            "icon icon"
            "title title"
            "para para"
            "socials socials";
        grid-template-rows: 2fr 1fr 1.5fr.5fr;
    }

    .flex-container {
        flex-direction: row;
    }

    .flex-object {
        width: calc(50% - 40px);
    }
}

@media only screen and (min-width: 1280px) and (max-width: 1620px) {
    .grid-container {
        grid-template-areas:
            "icon icon"
            "title title"
            "para para"
            "socials socials";
        grid-template-rows: 2fr 1fr 1.5fr.5fr;

    }

    .flex-container {
        flex-direction: row;
    }

    .flex-object {
        width: calc(50% - 40px);
    }
}